<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/recent-reviews.css">
    <title>A-Z</title>

    <!-- Custom CSS -->
   <link href="css/round-about.css" rel="stylesheet">
   

</head>

<body>
    
    <img class="background" src="static/img/open-book.jpg" alt="">
    
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://bookreviews-teddsr.c9users.io/about-rayann.html">About Rayann</a>
                    </li>
                    <li>
                        <a href="https://bookreviews-teddsr.c9users.io/a-z.html">A - Z</a>
                    </li>
                    <li>
                        <a href="https://bookreviews-teddsr.c9users.io/recent.html">Most Recent</a>
                    </li>
                    <li>
                        <a href="https://bookreviews-teddsr.c9users.io/have-your-say.html">Have Your Say</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    
    <!-- Page Content -->
    <div class="container colour">

        <!-- Introduction Row -->
        <div class="row">
            
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12 col-sm-4 book-title title nothing">
                <h2>A-Z</h2>
                <p class="book"><i>By book title</i></p>
                <div class="col-lg-4">
                    <h3 class="book">A</h3>
                    <li>    </li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">B</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">C</h3>
                    <li>
                        <a href="#" id="cft" onclick="document.location=this.id+'.html';return false;" >Cocktails For Three</a>
                    </li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">D</h3>
                    <li>    </li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">E</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">F</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">G</h3>
                    <li>
                        <a href="#" id="gsaw" onclick="document.location=this.id+'.html';return false;" >Go Set A Watchman</a>
                    </li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">H</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">I</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">J</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">K</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">L</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">M</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">N</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">O</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">P</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">Q</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">R</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">S</h3>
                    <li>
                        <a href="#" id="soh" onclick="document.location=this.id+'.html';return false;" >Shopaholic on Honeymoon</a>
                    </li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">T</h3>
                    <li>
                        <a href="#" id="tgg" onclick="document.location=this.id+'.html';return false;" >The Great Gatsby</a>
                    </li>
                    <li>
                        <a href="#" id="tkr" onclick="document.location=this.id+'.html';return false;" >The Kite Runner</a>
                    </li>
                    <li>
                        <a href="#" id="tswk" onclick="document.location=this.id+'.html';return false;" >The Secrets We Keep</a>
                    </li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">U</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">V</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">W</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">X</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">Y</h3>
                    <li></li>
                </div>
                <div class="col-lg-4">
                    <h3 class="book">Z</h3>
                    <li>   </li>
                </div>
            
                
            </div>
            
            <div class="col-lg-12 book-title ">
                <p class="none"><b><center>Recently added reviews</center></b></p>
                <div class="col-lg-2 ">
                    <a href="#" id="gsaw" onclick="document.location=this.id+'.html';return false;" >
                        <img class="img-circle img-n" alt="" src="static/img/gsaw.png"/>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" id="soh" onclick="document.location=this.html+'.php';return false;" >
                        <img class="img-circle img-n" alt="" src="static/img/soh.png"/>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" id="tswk" onclick="document.location=this.id+'.html';return false;" >
                        <img class="img-circle img-n" alt="" src="static/img/tswk.png"/>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" id="tkr" onclick="document.location=this.id+'.html';return false;" >
                        <img class="img-circle img-n" alt="" src="static/img/tkr.png"/>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" id="cft" onclick="document.location=this.id+'.html';return false;" >
                        <img class="img-circle img-n" alt="" src="static/img/cft.png"/>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" id="tgg" onclick="document.location=this.id+'.html';return false;" >
                        <img class="img-circle img-n" alt="" src="static/img/tgg.png"/>
                    </a>
                </div>
            </div>
            
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Rayann Tedds 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
</body>

</html>