{% extends "layout.html" %}
  
{% block content %}
    <head>
        <title>{% for name in cursor %} {{ name[1] }} {% endfor %} </title>
    </head>

    
    <!-- Page Content -->
    <div class="container colour">
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-4 col-sm-6 text-center  book-title">
                
                <img class="img-center img-circle main" id="main" onload="change() ;" alt="" src="http://placehold.it/120x120"/>
                
                <div id="others">
                    <p class="sub"><b>Other books from this author:</b></p>
                    
                    <div class="col-lg-2 col-sm-6">
                        <img class="img-circle img-sm" id="author1" onload="change() ;" alt="" src="http://placehold.it/40x40"/>
                    </div>
                    
                    <div class="col-lg-2 col-sm-6">
                        <img class="img-circle img-sm" id="author2" onload="change() ;" alt="" src="http://placehold.it/40x40"/>
                    </div>
                    
                    <div class="col-lg-2 col-sm-6">
                        <img class="img-circle img-sm" id="author3" onload="change() ;" alt="" src="http://placehold.it/40x40"/>
                    </div>
                    
                    <div class="col-lg-2 col-sm-6">
                        <img class="img-circle img-sm" id="author4" onload="change() ;" alt="" src="http://placehold.it/40x40"/>
                    </div>
                    
                    <div class="col-lg-2 col-sm-6">
                        <img class="img-circle img-sm" id="author5" onload="change() ;" alt="" src="http://placehold.it/40x40"/>
                    </div>
                    
                    <div class="col-lg-2 col-sm-6">
                        <img class="img-circle img-sm" id="author6" onload="change() ;" alt="" src="http://placehold.it/40x40"/>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-lg-8 col-sm-6 book-title">
                {% for name in cursor %} 
                <h2>{{ name[1] }}
                {% endfor %} 
                
                {% for forename in cursor %}
                <small> {{ forename[29] }} 
                {% endfor %} 
                
                {% for surname in cursor %}
                {{ surname[30] }}</small></h2> 
                {% endfor %}
                
                <p class="book"><i>{% for blurb in cursor %}{{ blurb[3] }}{% endfor %}</i></p>
                <div class="col-lg-6">
                    <p><b>Publication year: </b>{% for published in cursor %} {{ published[2] }} </p> {% endfor %}
                    <p><b>Genre: </b>{% for genre in cursor %} {{ genre[32] }} </p> {% endfor %}
                    <p><b>Get your copy: </b>
                    <a class="button" id="amazon" onload="change() ;" target="_blank">Amazon</a>
                    <a class="button" id="whsmith" onload="change() ;" target="_blank">WHSmith</a>
                    <a class="button" id="waterstones" onload="change() ;" target="_blank">Waterstones</a></p>
                </div>
                <div class="col-lg-6 indent">
                <p><u><b>Awards</b></u></p>
                        {% for award1 in cursor %}<p id="award1">{{ award1[34] }}</p>{% endfor %} 
                        {% for award2 in cursor %}<p id="award2">{{ award2[35] }}</p>{% endfor %}
                        {% for award3 in cursor %}<p id="award3">{{ award3[36] }}</p>{% endfor %} 
                        {% for award4 in cursor %}<p id="award4">{{ award4[37] }}</p>{% endfor %} 
                        {% for award5 in cursor %}<p id="award5">{{ award5[38] }}</p>{% endfor %} 
                        {% for award6 in cursor %}<p id="award6">{{ award6[39] }}</p>{% endfor %} 
                        {% for award7 in cursor %}<p id="award7">{{ award7[40] }}</p>{% endfor %} 
                        {% for award8 in cursor %}<p id="award8">{{ award8[41] }}</p>{% endfor %} 
                        {% for award9 in cursor %}<p id="award9">{{ award9[42] }}</p>{% endfor %} 
                        {% for award10 in cursor %}<p id="award10">{{ award10[43] }}</p>{% endfor %} 
                </div>
            </div>
            
            <div class="col-lg-12 space">

                <h3 class="book">My Review <small>{% for myReviewDate in cursor %} {{ myReviewDate[8] }} {% endfor %}</small></h3>
                <p>{% for myReview in cursor %} {{ myReview[7] }} {% endfor %}</p>
            </div>
            <div class="col-lg-4" id="review1">
                <h3 class="book space">{% for review1author in cursor %} {{ review1author[10] }} {% endfor %}<small>{% for published in cursor %} {{ published[2] }}{% endfor %}</small></h3>
                <p><i>{% for review1 in cursor %} {{ review1[9] }} {% endfor %}</i></p>
            </div>
            <div class="col-lg-4" id="review2">
                <h3 class="book space">{% for review2author in cursor %} {{ review2author[12] }} {% endfor %}<small>{% for published in cursor %} {{ published[2] }}{% endfor %}</small></h3>
                <p><i>{% for review2 in cursor %} {{ review2[11] }} {% endfor %}</i></p>
            </div>
            <div class="col-lg-4 space" id="review3">
                <h3 class="book">{% for review3author in cursor %} {{ review3author[14] }} {% endfor %}<small>{% for published in cursor %} {{ published[2] }}{% endfor %}</small></h3>
                <p><i>{% for review3 in cursor %} {{ review3[13] }} {% endfor %}</i></p>
            </div>
            <div class="col-lg-4 space" id="review5">
                <h3 class="book">{% for review5author in cursor %} {{ review5author[18] }} {% endfor %}<small>{% for published in cursor %} {{ published[2] }}{% endfor %}</small></h3>
                <p><i>{% for review5 in cursor %} {{ review5[17] }} {% endfor %}</i></p>
            </div>
            <div class="col-lg-4 space" id="review6">
                <h3 class="book">{% for review6author in cursor %} {{ review6author[20] }} {% endfor %}<small>{% for published in cursor %} {{ published[2] }}{% endfor %}</small></h3>
                <p><i>{% for review6 in cursor %} {{ review6[19] }} {% endfor %}</i></p>
            </div>
            <div class="col-lg-4 space" id="review7">
                <h3 class="book">{% for review7author in cursor %} {{ review7author[22] }} {% endfor %}<small>{% for published in cursor %} {{ published[2] }}{% endfor %}</small></h3>
                <p><i>{% for review7 in cursor %} {{ review7[21] }} {% endfor %}</i></p>
            </div>
            <div class="col-lg-4 space" id="review4">
                <h3 class="book">{% for review4author in cursor %} {{ review4author[16] }} {% endfor %}<small>{% for published in cursor %} {{ published[2] }}{% endfor %}</small></h3>
                <p><i>{% for review4 in cursor %} {{ review4[15] }} {% endfor %}</i></p>
            </div>
            <div class="col-lg-4 space" id="review8">
                <h3 class="book">{% for review8author in cursor %} {{ review8author[24] }} {% endfor %}<small>{% for published in cursor %} {{ published[2] }}{% endfor %}</small></h3>
                <p><i>{% for review8 in cursor %} {{ review8[23] }} {% endfor %}</i></p>
            </div>
            <div class="col-lg-4 space" id="review9">
                <h3 class="book">{% for review9author in cursor %} {{ review9author[26] }} {% endfor %}<small>{% for published in cursor %} {{ published[2] }}{% endfor %}</small></h3>
                <p><i>{% for review9 in cursor %} {{ review9[25] }} {% endfor %}</i></p>
            </div>
            <div class="col-lg-12 space" id="review10">
                <h3 class="book">{% for review10author in cursor %} {{ review10author[28] }} {% endfor %}<small>{% for published in cursor %} {{ published[2] }}{% endfor %}</small></h3>
                <p><i>{% for review10 in cursor %} {{ review10[27] }} {% endfor %}</i></p>
            </div>
            
        </div>
        
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Rayann Tedds 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
{% endblock %}