<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/mainpage.css">
    <title>Rayann's Reviews</title>

    <!-- Custom CSS -->
    <link href="css/round-about.css" rel="stylesheet">

</head>

<body>
    <div class="title">
        <h1>Welcome to Rayann's Reviews</h1>
        <h2>Where a booklover just speaks her mind...</h2>
    </div>
    
    <button class="arrowbox" id="arrowbox"> Shall we begin?</button>
    
    <img src="static/img/open-book.jpg" alt="" />
    
    <script src="static/js/mainpage.js"></script>
</body>



</html>