<!-- This is the initial page of the website. -->
<!DOCTYPE html>
<!-- The language has been set to English by default. -->
<html lang="en">
  <head>
    <!-- Represents any character in the Unicode standard. -->
    <meta charset="utf-8">
    <!-- The default size of the webpage which makes it good to be used on any screen size. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Links to the relevant css and javascript files which need to be used. -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/mainpage.css">
    <link href="css/round-about.css" rel="stylesheet">
    <!-- Title which is to be viewed in the screen tab. -->
    <title>Rayann's Reviews</title>
  </head>

  <body>
    <!-- Content of the initial page. -->
    <div class="title">
      <h1>Welcome to Rayann's Reviews</h1>
      <h2>Where a booklover just speaks her mind...</h2>
    </div>
    <button class="arrowbox" id="arrowbox"> Shall we begin?</button>
    <!-- Main image on the page -->
    <img src="static/img/open-book.jpg" alt="" />
    <!-- Link to the javascript file which has instructions as of what to do when the button is pressed. -->
    <script src="static/js/mainpage.js"></script>
  </body>
</html>
